.chat-container {
  display: flex;
  height: 100vh;
}

.users-container {
  flex: 1;
  background-color: #2d4059;
  color: #fff;
  padding: 20px;
}

.chat-history-container {
  flex: 3;
  padding: 20px;
}

.chat-user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.chat-user:hover,
.chat-user.active {
  background-color: #4a6572;
}

.chat-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header {
  margin-top: 0;
  font-size: 24px;
}

.chat-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4a6572;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.chat-input button {
  background-color: #4a6572;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #304b5a;
}
